<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tree</title>

    <script src="https://cdn.bootcss.com/vue/2.5.15/vue.min.js"></script>

    <!-- 样式再完善 -->

    <style>
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            transition: all .4s ease-in-out;
            font-size: 14px;
            text-align: center;
        }
        li {
            cursor: pointer;
        }
    </style>
</head>
<body>

<div id="tree">
    <my-tree :prop="prop" :list="list"></my-tree>
</div>

<script type="text/x-template" id="tree-template">
    <ul>
        <li v-for="item,i in list" :key="i"
            :class="active && active[level] && active[level].toString() === (i || -1).toString() ? 'open' : ''"
            @click.stop="handle(item,i, level);$parent.$emit('click-tree-menu', {data:item,index:i,level:level})">
            <div class="label clearfix">
                <span :style="`display:inline-block;float:left;width: ${level*20}px;height:1px;`"></span>
                <i v-if="item.icon" :class="'fa '+item.icon"></i>
                <span class="text">{{item[prop.label]}}</span>
            </div>
            <tree-child v-if="item[prop.child] && item[prop.child].length && (active && active[level] && active[level].toString() === (i || -1).toString() || visible)"
                        :list="item[prop.child]"
                        :visible="visible"
                        :active = "active"
                        :level="level+1"
                        :prop="prop"></tree-child>
        </li>
    </ul>
</script>

<script>
    Vue.component('my-tree', {
        template: '#tree-template',
        name: 'tree-child',                                      //  用于组件递归
        props: {
            list: [Object, Array],                                 //  菜单数据
            prop: Object,                                          //  显示的菜单名、子菜单在list中的key值
            visible: Boolean,                                      //  子菜单是否一直可见
            level: {                                               //  子菜单当前所处的等级
                type: Number,
                default: 0
            },
            active: {
                type: Array,
                default: []
            }                                          //  激活的索引
        },
        mounted () {
            /** 监听点击事件，传递给父组件 */
            this.$on('click-tree-menu', (res) => {
                this.$parent.$emit('click-tree-menu', res)
            })
            /** active中0需要特殊处理(替换为-1) */
            for(let k in this.active) {
                if(parseInt(this.active[k]) === 0) {
                    this.active.splice(k, 1, -1)
                }
            }
        },
        methods: {
            /** 点击某一项，展开或收缩菜单 */
            handle(item,i, level) {
                this.active.splice(level, 1, item.child && this.active[level] && this.active[level] === i ? '' : (i || -1))
            }
        }
    })

    /** demo */
    new Vue({
        el: '#tree',
        data () {
            return {
                prop: {
                    label: 'name',
                    child: 'child'
                },
                list: [
                    {
                        name: '哈哈',
                        child: [
                            {
                                name: '二二',
                                child: [
                                    {
                                        name: '三三'
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        name: '嘻嘻',
                        child: [
                            {
                                name: '二二',
                                child: [
                                    {
                                        name: '三三'
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        name: '吼吼',
                        child: [
                            {
                                name: '二二',
                                child: [
                                    {
                                        name: '三三'
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        },
        mounted () {
            this.$on('click-tree-menu', (res) => {
                console.log(res)
            })
        }
    })
</script>

</body>
</html>